#img-main_logo {
    transition: all ease 0.2s;
    padding-left: 25px;
    width: 25.5%;
    min-width: 300px;
    margin-top: 2%;
    margin-bottom: 15px;
}

#img-main_logo:hover {
    transform: scale(1.1);
}

#p-main_logo {
    font-size: 14pt;
}

#container-main_logo {
    padding-top: 1.5%;
    margin-bottom: 3%;
}

#container-menubox {
    vertical-align: middle;
    text-align: center !important;
    display: block;
    margin-bottom: 100px;
}

/*
.button-main_icon{
    text-align: center;
    display:inline-block;
    padding-bottom:15px;
    min-width:280px;
    width:25%;
}
.button-main_icon > p{
    display: inline-block;
    text-align: center;
    width:80%;
}

.button-main_icon:hover{
    transition:all 0.2s;
    transform: scale(1.05);
    background-color:RGBA(233,233,233,0.4);
}*/

.icon_menu {
    width: 140px;
    margin: auto auto;
    vertical-align: middle;
}

.container-icon {
    text-align: center;
    background-color: RGBA(255, 186, 186, 1.0);
    min-width: 240px;
    height: 240px;
    border-radius: 50%;
    display: inline-block;
    line-height: 220px;
    padding-bottom: 15px;
    padding-left: 10px;
    box-shadow: 3px 3px 11px 0px RGBA(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

#img-icon_planner {
    background-color: RGBA(193, 193, 255, 1.0);
}

.divline-vertical {
    display: inline-block;
    border-left: 2px solid RGBA(111, 111, 111, 0.2);
    width: 1%;
    height: 0;
    margin: auto 3%;
    background-color: RGBA(111, 111, 111, 0.5);
}

#intro_description {
    background-color: RGBA(111, 255, 111, 0.2);
    height: auto;
}

#intro_iconic_exp {
    background-color: RGBA(66, 111, 255, 0.2);
    width: 80%;
    margin: auto auto;
}

#intro_iconic_exp {}

#icon_something2 {
    width: 20%;
}

#intro_other {
    background-color: white;
}

#container-main_header {
    position: absolute;
    padding: 0 0;
    width: inherit;
    height: 100%;
    display: block;
}

#video-background {
    background-color: RGBA(11, 11, 11, 0.9);
    position: fixed;
    object-fit: fill;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    z-index: -1;
}

.filterbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: RGBA(0, 0, 0, 0.4);
}

.whitebox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 50px;
    padding-bottom: 20px;
    border: 4px solid RGBA(255, 255, 255, 0.8);
    color: white;
}

.whitebox h1 {
    margin-top: 0px;
}

#container-body {
    background-color: white;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
}

.whiteline {
    width: 100px;
    height: 10px;
    border-top: 3px solid white;
    margin: 20px auto;
}

.transparented {
    transition: all 0.5s !important;
    background-color: RGBA(255, 255, 255, 0.1) !important;
    border: none !important;
    color: white !important;
}

.container-intro {
    word-break: break-all;
    text-align: center;
    display: flex;
    width: 88%;
    text-align: center;
    padding: 50px 40px;
    background-color: transparent;
    color: inherit;
    margin: 100px auto;
    border: 1px solid lightgray;
    vertical-align: middle;
    justify-content: center;
}
.container-intro img{
    vertical-align: middle;
    width: 200px;
    margin: auto auto;
}

.button-main_icon {
    border: 2px solid gray;
    padding: 10px 30px;
    background-color: transparent;
    font-size: 17pt;
}
.button-main_icon:hover{
    transition: all 0.2s;
    transform: scale(1.1);
}